*{
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}
h1{
    color: darkgreen;
    font-size: 36px;
    text-align: center;
}
h2{
    color: green;
    font-size: 28px;
    text-align: center;
}
p{
    color: rgb(9, 0, 51);
    font-size: 18px;
    text-align: center;
}
section{
    padding: 20px;
    margin: 15px;
    background-color: rgb(186, 169, 148);
    border: 2px solid rgb(186, 17, 85);
}
ul{
    list-style-type: disc;
    padding-left: 40px;
}

div{
    padding: 20px;
    margin: 15px;
}