@model ContactInfo
<h2>Add Contact</h2>

<form asp-action="AddContact" method="post">

    <div style="margin-bottom:10px;">
        <label asp-for="ContactId"></label><br />
        <input asp-for="ContactId" />
    </div>

    <div style="margin-bottom:10px;">
        <label asp-for="FirstName"></label><br />
        <input asp-for="FirstName" />
    </div>

    <div style="margin-bottom:10px;">
        <label asp-for="LastName"></label><br />
        <input asp-for="LastName" />
    </div>

    <div style="margin-bottom:10px;">
        <label asp-for="CompanyName"></label><br />
        <input asp-for="CompanyName" />
    </div>

    <div style="margin-bottom:10px;">
        <label asp-for="EmailId"></label><br />
        <input asp-for="EmailId" />
    </div>

    <div style="margin-bottom:10px;">
        <label asp-for="MobileNo"></label><br />
        <input asp-for="MobileNo" />
    </div>

    <div style="margin-bottom:10px;">
        <label asp-for="Designation"></label><br />
        <input asp-for="Designation" />
    </div>

    <button type="submit">Add Contact</button>

</form>