@model Product

<h2>Product Details</h2>

<table border="1">

    <tr>
        <td>Product Id</td>
        <td>@Model.ProductId</td>
    </tr>

    <tr>
        <td>Product Name</td>
        <td>@Model.ProductName</td>
    </tr>

    <tr>
        <td>Price</td>
        <td>@Model.Price</td>
    </tr>

    <tr>
        <td>Category</td>
        <td>@Model.Category</td>
    </tr>

</table>

<br>

<a asp-action="Index">Back to List</a>